<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" >
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading" style="letter-spacing: 55px;
    text-transform: uppercase;">heARTshop</h1>
        </div>
    </section>
    <div class="container mb-4" >
        <div class="row">
            <div class="col-12" th:if="${paintings.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr style="text-align: center; font-family: Calibri;text-transform: uppercase;">
                            <th scope="col">Painting name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Artists</th>
                        </tr>
                        </thead>
                        <tbody style="text-align: center;">
                        <tr th:each="painting : ${paintings}" class="painting" style="text-transform: uppercase;color: lightslategray;
    font-family: fangsong;">
                            <td th:text="${painting.getName()}"></td>
                            <td th:text="${painting.getPrice()}" style="color: indianred;"></td>
                            <td th:text="${painting.getArtist() != null}
                            ? ${painting.getArtist().getName()} : 'No Manufacturer'"></td>
                            <td class="text-right">
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <form th:action="@{'/paintings/delete/{id}' (id=${painting.getId()})}"
                                          th:method="DELETE">
                                        <button type="submit"
                                                class="btn btn-sm btn-danger delete-product">
                                            <i class="fa fa-trash">Delete</i>
                                        </button>
                                    </form>
                                </th:block>
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a th:href="@{'/paintings/edit-form/{id}' (id=${painting.getId()})}"
                                       class="btn btn-sm btn-info edit-product">
                                        <i class="fa fa-trash">Edit</i>
                                    </a>
                                </th:block>
                                <form th:action="@{'/shopping-cart/add-painting/{id}' (id=${painting.getId()})}"
                                      th:method="POST"
                                      sec:authorize="isAuthenticated()"
                                >
                                    <button type="submit"
                                            class="btn btn-sm btn-primary cart-product">
                                        <i class="fa fa-trash">Add painting to cart</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <a href="/paintings/add-form" class="btn btn-block btn-dark add-product-btn" sec:authorize="hasRole('ROLE_ADMIN')">
                            Add new product
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
