<footer class="text-black-50 mt-xl-5" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    Since its foundation in 1997 by Cathia Klimovsky, Eden Gallery has evolved into a global network of high-end art galleries representing a selection of international artists, each with a uniquely modern approach to creation.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Our Galleries</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="">Skopje, Macedonia</a></li>
                    <li class="list-inline-item"><a href="">Madrid, Spain</a></li>
                    <li class="list-inline-item"><a href="">Milan, Italy</a></li>
                    <li class="list-inline-item"><a href="">New York, USA</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                <h5>Special Galleries</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="">Gothic</a></li>
                    <li class="list-inline-item"><a href="">Modern</a></li>
                    <li class="list-inline-item"><a href="">Fine Arts</a></li>
                    <li class="list-inline-item"><a href="">Sculptures</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i>heARTshop Galleries</li>
                    <li><i class="fa fa-envelope mr-2"></i> email@example.com</li>
                    <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
                    <li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
